@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: hsl(232, 13%, 33%);
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: hsl(240, 78%, 98%);
    min-height: 100vh;
}

body::before {
    content: '';
    background-image: url('./images/bg-top.svg');
    background-repeat: no-repeat;
    background-position: top right;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

body::after {
    content: '';
    background-image: url('./images/bg-bottom.svg');
    background-repeat: no-repeat;
    background-position: left bottom;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Global */

.container {
    margin: auto;
    max-width: 100%;
    width: 1200px;
}

a {
    text-decoration: none;
}

h1 {
    color: hsl(233, 13%, 49%);
}

#switcher {
    color: hsl(234, 14%, 74%);
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Price Cards */
.price-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.price-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    color: hsl(233, 13%, 49%);
    padding: 30px;
    margin: 10px;
}

.price-card .monthly {
    display: none;
}

.show-monthly .price-card .monthly {
    display: block;
}

.show-monthly .price-card .annually {
    display: none;
} 

.price-card.price-card-primary {
    background: linear-gradient(
        150deg,
        hsl(236, 72%, 79%),
        hsl(237, 63%, 64%)
    );
    color: #ffffff;
    transform: scale(1.15)
}

.price-card h4 {
    margin: 0;
}

.price-card p {
    color: hsl(232, 13%, 33%);
    font-size: 4em;
    margin: 15px 0;
    width: 250px;
}

.price-card ul {
    padding: 0;
    list-style: none;
}

.price-card ul li {
    padding: 15px 0;
    border-bottom: 1px solid hsl(234, 14%, 74%);
    font-size: 14px;
}

.price-card a {
    display: block;
    background: linear-gradient(
        to right,
        hsl(236, 72%, 79%),
        hsl(237, 63%, 64%)
    );
    color: #ffffff;
    padding: 15px;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    margin-top: 25px;
    border: 1px solid #ffffff;
}

.price-card a:hover {
    border: 1px solid hsl(233, 13%, 49%);
    background: #ffffff;
    color: hsl(233, 13%, 49%)
}

.price-card.price-card-primary a {
    border: 1px solid #ffffff;
    background: #ffffff;
    color: hsl(237, 63%, 64%);
}

.price-card.price-card-primary a:hover {
    border: 1px solid #ffffff;
    background: linear-gradient(
        to right,
        hsl(236, 72%, 79%),
        hsl(237, 63%, 64%)
    );
    color: #ffffff;
}

.price-card.price-card-primary p {
    color: #ffffff;
}


#switcher label {
    display: inline-block;
    height: 30px;
    width: 60px;
    position: relative;
    background: linear-gradient(
        to right,
        hsl(236, 72%, 79%),
        hsl(237, 63%, 64%)
    );
    margin: 0 10px;
    cursor: pointer;
    border-radius: 50px;
}

#switcher label:hover {
    opacity: 0.5;
}

#switcher label .ball {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 2.5px;
    left: 2.5px;
    border-radius: 50px;
    background-color: #ffffff;
    transition: transform 0.4s ease;
}

#switcher #toggle {
    display: none;
}

#switcher #toggle:checked + label .ball {
    transform: translateX(30px);
}

@media screen and (max-width: 1024px) {

    .price-cards {
        flex-direction: column;
    }

    .price-card.price-card-primary {
        transform: scale(1);
    }

    body::before {
        background-position: top right -190px;
    }

    body::after {
        background-image: none;
    }
}